html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  background-color: #CCC;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.homepage {
  width: 1200px;
  margin: auto;
  display: flex;
}

.homeheader {
  text-align: center;
  margin-top: 200px;
}

.box {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 350px;
}

.box3 {
  margin-top: 17px;
}

.register, .login, .shelterPage, .reservation {
  width: 1200px;
  margin: auto;
  /* border: 1px solid black; */
}

.shelterPage {
  display: flex;
  flex-direction: column;
}

.GoogleMap {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  margin-top: 20px;
  margin:auto;
}

.registerHeader, .loginHeader{
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shelterHeader {
  width: 1200px;
  display: flex;
  align-items: center;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  margin: auto;
  border: 1px solid black;
  padding: 10px;
}

.loginForm, .reservationForm {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}


input {
  margin-bottom: 10px;
  margin-top: 5px;
  height: 25px;
  background-color: white;
  font-size: 14px;
}

.inputBed {
  width: 40px;
  height: 30px;
  font-size: 16px;
  background-color: white;
}

.inputBed::placeholder {
  text-align: center;
}

.LoginButton2, .LoginButton2>a {
  width: 70px;
  height: 25px;
  color: white;
  background: green;
  font-size: 15px;
}

.shelterInfo, .loginPart, .reservationPart {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.loginPart >input, .reservationPart >input, .shelterInfo >input {
  width: 500px;
  height: 30px;
}

.acct, .acct1 {
  font-size: 25px;
}

.acct1 {
  text-align: center;
  padding-left: 310px;
}

.HomeButton > a{
  font-size: 50px;
}

.choices {
  width: 70px;
  height: 25px;
  background-color: white;
}

.RegisterButton2 {
  width: 250px;
  height: 30px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  padding-left: 88px;
  background-color: green;
  color: white;
}

.LoginButton3, .resButton2 {
  width: 250px;
  display: flex;
  margin: auto;
  padding-left: 103px;
  font-weight: bold;
  height: 30px;
  font-size: 18px;
  margin-top: 20px;
  background-color: green;
  color: white;
}

.resButton2 {
  width: 270px;
}

.mainbuttons:hover, .mainbuttons>a:hover {
  background-color: green;
  color: white;
}

.mainbuttons, .mainbuttons>a {
  height: 50px;
  background-color: green;
  color: white;
  outline: none;
}

.mainbuttons {
  border: none;
  font-size: 18px;
}

.resButton, .resButton>a, .LogOut {
  background-color: green;
  color: white;
  padding: 5px;
}

.box {
  text-align: center;
}

.shelterList {
  border: 1px dashed black;
  width: 500px;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.last {
  display: flex;
  justify-content: space-between;
}

.otherShelterList {
  margin: auto;
  padding-left: 40px;
  padding-top: 5px;
  width: 500px;
  
}